
<mat-card>
  <mat-card-title>
    <form class="search-form">
        <mat-form-field>
          <input matInput placeholder="Поиск..." [matAutocomplete]="auto" [(ngModel)]="searchStr" name="searchStr" (keyup)="getMovieTitles()" (keyup.enter)="searchMovies()">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of searchOptions" [value]="option.title" (click)="searchMovies()">
            {{ option.title }}
          </mat-option>
        </mat-autocomplete>

        <button mat-raised-button color="primary" (click)="searchMovies()">Найти</button>
    </form>
  </mat-card-title>
  <mat-card-content *ngIf="searchRes">
      <h3>Результаты</h3>
      <mat-list class="result-list">
          <div *ngFor="let movie of searchRes; let i = index;">
            <movie-card [movie]="movie"></movie-card>
          </div>
      </mat-list>
  </mat-card-content>
</mat-card>